#animacion2{
    margin: 0 870px;
}

.padre1 {
  width: 50px;
  height: 50px;
  background-color: rgb(29, 100, 12);
  border: 1px solid black;
}

.hijo1 {
  width: 50%;
  height: 50%;
  background-color: red;
  border: 1px solid black;
  /*transition: transform 1s ease-in-out 500ms;
    */
  animation: traslacion 4s ease-in-out infinite forwards alternate;
}

.hijo1 img{
    position: relative;
    height: 100%;
    width: 100%;
    background-color:black;
}

.padre1:hover .hijo1 {
  /*transform: translateX(100%);
    background-color: black;*/
  animation-play-state: paused;
}

@keyframes traslacion {
  0% {
    /* background-color: red; */
    transform: translateX(0%) translateY(0%);
  }

  25% {
    /* background-color: aqua; */
    transform: translateX(100%) translateY(0%);
  }
  50% {
    /* background-color: gray; */
    transform: translateY(100%) translateX(100%);
  }

  75% {
    transform: translateX(0%) translateY(100%); 
    /* background-color: green; */
  }

  100% {
    transform: translateX(0%) translateY(0%);
    /* background-color: orange; */
  }
}

#animacion{
    margin: 0 600px;
}

.padre {
  margin: 20px 0 0 0;
  width: 100px;
  height: 70px;
  background-color: rgb(29, 100, 12);
  border: 1px solid #26503c;
}

.hijo {
  width: 50%;
  height: 50%;
  background-color: red;
  border: 1px solid #1fb465;
  /*transition: transform 1s ease-in-out 500ms;
    */
  animation: traslacion 4s ease-in-out infinite forwards alternate;
}
.hijo img{
    position: relative;
    height: 100%;
    width: 100%;
    background-color:white;
}

.padre:hover .hijo {
  /*transform: translateX(100%);
    background-color: black;*/
  animation-play-state: paused;
}

@keyframes traslacion {
  0% {
    background-color: red;
    transform: translateX(0%) translateY(0%);
  }

  25% {
    background-color: aqua;
    transform: translateX(100%) translateY(0%);
  }
  50% {
    background-color: gray;
    transform: translateY(100%) translateX(100%);
  }

  75% {
    transform: translateX(0%) translateY(100%);
    background-color: green;
  }

  100% {
    transform: translateX(0%) translateY(0%);
    background-color: orange;
  }
}
