* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/body.jpg");
  font-size: 16;
  background: #152747;
  margin-top: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 10px auto;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header      header  header"
    "div         div     main"
    "footer      footer   footer";
}

.container header {
  grid-area: header;
}
.container div {
  grid-area: div;
}
.container main {
  grid-area: main;
}
.container footer {
  grid-area: footer;
}

.contenedor {
  margin: 0 auto;
  width: 100%;
  padding: 20px;
  min-height: 100px;
  max-height: 1000px;
}

header {
  background-color: #1e2b63;
  border: 2px solid #1e2b63;
  padding: 10px;
  color: #000;
  border-radius: 5px;
}

header img {
  width: 10%;
  min-width: 100px;
  background-color: #ccc;
  border: 2px solid #000;
  border-radius: 5px;
}

header h1 {
  margin-left: 20px;
  color: #c6d3ff;
}

header img,
header h1 {
  display: inline-block;
  vertical-align: middle;
  font-size: 3rem;
  padding-bottom: 15px;
}

/* Menu horizontal*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #7e94f5;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover:not(.activa) {
  background-color: #22207a;
}

nav .activa {
  background-color: #152747;
}

/*Menu vertical*/

.vertical-menu {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
}

.vertical-menu a {
  background-color: #7e94f5;
  color: white;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu a:hover {
  background-color: rgb(104, 102, 221);
  color: rgb(255, 255, 255);
}

.vertical-menu a.active {
  background-color: #20355a;
  color: white;
}

.principal h2 {
  color: #ccc;
  text-align: center;
}

.menu {
  float: right;
  width: 15%;
  min-width: 200px;
  min-height: 740px;
  background: #546cd8;
  padding: 10px;
  color: white;
  text-align: center;
  font-family: monospace;
}

.principal {
  float: right;
  width: 100%;
  padding: 10px;
}

.principal img {
  width: 100%;
  border: #7e94f5 solid 5px;
  margin: 20px;
}

.principal h3 {
  font-size: 25px;
  padding-bottom: 10px;
  font-family: "Source Sans Pro", sans-serif;
}

.principal ol {
  padding: 10px;
  text-align: left;
}

.principal ul {
  padding: 20px;
}

.principal p {
  text-align: justify;
  padding: 10px;
  color: #ccc;
  font-size: x-large;
}

.principal table {
  width: 50%;
}

.principal table td {
  text-align: center;
}

footer {
  width: 100%;
  float: center;
  background: #7e94f5;
  /* min-height: 50px; */
  padding: 10px 0;
  text-align: center;
  border-radius: 10px;
}

/* Formulario */

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: #ccc;
}

form label {
  width: 72px;
  font-weight: bold;
  display: inline-block;
}

form input[type="text"],
form input[type="email"] {
  width: 180px;
  padding: 3px 10px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

form input[type="submit"] {
  width: 100%;
  padding: 8px 16px;
  margin-top: 32px;
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  color: #fff;
  background-color: #000;
}

form input[type="submit"]:hover {
  cursor: pointer;
}

form input[type="radio"] {
  margin-right: 5px;
}
textarea {
  width: 100%;
  height: 100px;
  border: 1px solid #f6f6f6;
  border-radius: 3px;
  background-color: #f6f6f6;
  margin: 8px 0;
  /*resize: vertical | horizontal | none | both*/
  resize: none;
  display: block;
}

/*resposiv*/

@media screen and (max-width: 768px) {
    .container {
      font-size: 15px;
      grid-template-areas:
        "header"
        "main"
        "div"
        "footer";
    }
  }
