.container {
  height: 100%;
  width: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-color: rgb(34, 32, 122);
  color: #f6f6f6;
}
input {
  width: 100%;
  padding: 18px 15px;
  border: 0;
  outline: none;
  border-radius: 3px;
  background: transparent;
  color: #f6f6f6;
  margin: 8px 0;
  display: inline-block;
}

input::placeholder {
  color: #ffffff;
}

.input-field i {
  margin-left: 15px;
  color: darkslateblue;
}

.form-content {
  background-color: rgb(34, 32, 122);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  border-radius: 10px;
}

.form-content h1 {
  font-size: 30px;
  color: #f6f6f6;
  position: relative;
}

.form-content h1::after {
  content: "";
  width: 30px;
  height: 4px;
  border-radius: 3px;
  background: yellowgreen;
  position: absolute;
  bottom: -12px;
  left: 50%;
  transform: translate(-50%);
}
.input-field {
  background-color: black;
  margin: 15px 0;
  border-radius: 3px;
  display: flex;
  align-items: center;
  transition: max-height 0.2s;
  overflow: hidden;
}

form p {
  text-align: left;
  color: #f6f6f6;
}

form p a {
  color: rgb(181, 122, 236);
  margin-left: 5px;
}

.btn-field {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.btn-field button {
  flex-basis: 48%;
  font-size: 16px;
  background-color: rgb(64, 13, 112);
  color: #ffffff;
  height: 40px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  cursor: pointer;
  margin-top: 50px;
  transition: background 1s;
}

input-background {
  height: 250px;
}

.btn-field button.disable {
  background-color: rgb(50, 9, 235);
  color: rgb(255, 255, 255);
}
